<div class="container-fluid no-padding">
  <!-- SDGs logo -->
  <div class="landing-map-top-overlay">
    <div class="pull-left">
      <img class="landing-sdg-logo" src='images/landing/sdg-logo-only.png'>
      <span class="glyphicon glyphicon-info-sign glyph-about" data-toggle="modal" data-target="#aboutModal"></span>
    </div>
    <div class="pull-right landing-text-div">
      <span class="landing-title">
        <h3>{{t 'application.title'}}</h3>
        <p class="text-success">current sdg index (% complete)</p>
        <p class="text-danger">% missing values</p>
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
  
  {{ arcgis-map-landing class="landing-map" }}

  {{ sdg-overview-collage model=model loadSDG="routeToSDG" class="marg-top-neg-50" }}
</div>

<div class="container">
  <p class="bg-info" style="margin-top: 20px;padding:20px;">Hello! Welcome to a Prototype/POC Dashboard that lets you explore the Sustainable Development Goals. At this point in time, the application is <b>in development</b> and data is sparse so we would recommend using the following link(s) that we'll do our best to keep stable, ok? 
  <br><br> Thanks &amp; enjoy!
  <br><br>
    <ul>
      <li>{{#link-to 'sdg' '2' (query-params geo_group="countries" geo_value="KE" target_id="2.1") }}<b>Goal 02 Zero Hunger</b> - Kenya (Target 2.1){{/link-to}}</li>
      <li>{{#link-to 'sdg' '3' (query-params geo_group="countries" geo_value="GLOBAL" target_id="3.3") }}<b>Goal 03 Good Health &amp; Well-Being</b> - Global (Target 3.3){{/link-to}}</li>
      <li>{{#link-to 'sdg' '3' (query-params geo_group="countries" geo_value="TH" target_id="3.3") }}<b>Goal 03 Good Health &amp; Well-Being</b> - Thailand (Target 3.3){{/link-to}}</li>
      <li>{{#link-to 'sdg' '5' (query-params geo_group="countries" geo_value="GLOBAL" target_id="5.5") }}<b>Goal 05 Gender Equality</b> - Global Progress (Target 5.5){{/link-to}}</li>
      <li>{{#link-to 'sdg' '11' (query-params geo_group="cities" geo_value="GLOBAL_CITIES" target_id="11.1") }}<b>Goal 11 Sustainable Cities &amp; Communities</b> - Global (Target 11.1){{/link-to}}</li>
      <li>{{#link-to 'sdg' '11' (query-params geo_group="cities" geo_value="BOGOTA" target_id="11.1") }}<b>Goal 11 Sustainable Cities &amp; Communities</b> - Bogota (Target 11.1){{/link-to}}</li>
      <li>{{#link-to 'video-player' (query-params src='aehin')}}<b>Goal 03 Good Health and Well-Being</b> - Access to Health Care Web Application (video){{/link-to}}</li>
      <li><a href="http://dtc-sci01.esri.com/MultidimensionalTemplate/index.html?appid=d73011dceb0e41d0af334912355bddd5" target="_blank"><b>Goal 13 Climate Action</b> - World Soil Moisture Application</a></li>
      <!-- <li class="text-muted disabled"><b>Goal 04 - Quality Education</b> for Colombia (coming soon)</li> -->
    </ul>
  </p>
</div>

{{#ember-wormhole to="about-modal-destination"}}
  {{about-modal}}
{{/ember-wormhole}}