<span
  id="popover-{{this.elementId}}"
  class="glyphicon glyphicon-info-sign" 
  style="cursor:pointer;" 
  aria-hidden="true" 
  tabindex="0" 
  data-toggle="popover" 
  data-trigger="focus" 
  data-html="true" 
  data-placement="top" 
  data-container="body">
</span>