/*nav bar*/
.top-header {
 /* height: 80px;
  padding-top: 10px;*/
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-header {
  margin-left: -15px;
}
.brand-logo {
  height: 80px;
  width: 80px;
}

.sit-on-top {
  z-index: 1;
}

.sign-in {
  margin-top: 200px;
}

.navbar {
  background-color: #eee;
  background: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}