/*nav bar*/
.top-header {
 /* height: 80px;
  padding-top: 10px;*/
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-header {
  margin-left: -15px;
}
.brand-logo {
  height: 60px;
  width: 60px;
}

.sit-on-top {
  z-index: 1;
}

.sign-in {
  margin-top: 200px;
}
