.collage {
  padding: 10px;
}
.collage img {
  height: 200px;
  width: 200px;
  /*border: 4px solid #FFF;*/
  border-radius: 3px;
  cursor: pointer;
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, .35);
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, .35);
  box-shadow:0px 2px 4px rgba(0, 0, 0, .35);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;

  vertical-align: bottom;
  opacity: 0;
}