.country-select-container {
  padding: 5px 0px 5px 0;
}

.btn-country-select {
  flex: 1;
  margin-bottom: 10px;
}

.bg-wrapper {
  height: 210px;
}

.glyph-sdg-logo {
  margin: -10px 0px 0px 0px;
  height: 70px;
  position: absolute;
}

.glyph-globe-select {
  padding: 10px;
  font-size: 28px;
  margin-left: 30px;
}

.img-shift {
  margin-left: 35px;
}

.selector-row {
  margin: 0;
  color:white;
  border-top:1px solid rgba(248, 248, 248, .55);
}