.sdg-separator {
  border-top: 1px solid rgba(248, 248, 248, 0.55);
}
.navbar-selector {
  /*border-top: 1px solid rgba(248, 248, 248, 0.55);*/
  /*border-left: 0;*/
  /*border-right: 0;*/
  /*border-bottom: 0;*/
  border: 0;
}
.btn-nocursor {
  cursor: default;
  padding-right: 0;
  padding-left: 0;
}
.country-select-container {
  padding: 5px 0px 5px 0;
}

.btn-country-select {
  flex: 1;
  margin-bottom: 10px;
}

.bg-wrapper {
  height: 210px;
}

@media (min-width: 1200px) {
  .glyph-sdg-logo {
    margin: -10px 0px 0px 40px !important;
    height: 80px;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .glyph-sdg-logo {
    margin: -10px 0px 0px -20px;
    height: 80px;
    position: absolute;
  }
}

.glyph-globe-select {
  font-size: 35px;
  margin: 5px 0 0 35px;
  position: absolute;
}

.glyph-target-select {
  float: left;
  margin: -2px 0;
  padding: 3px 0px 0px 0px !important;
  font-size: 35px;
  height: 40px;
  color: white !important;
}

.img-shift {
  margin-left: 35px;
}

.selector-row {
  padding-left: 50px;
  color:white;
  /*border-top:1px solid rgba(248, 248, 248, .55);*/
}

.status-container {
  margin-top: 30px;
}
.target-label {
  /*color: #ddd;*/
  font-size: 50px;
}
.target-label-container {
  text-align: center;
  border-right: 1px solid #ddd;
}

.img-dp-shadow {
  -webkit-filter: drop-shadow(2px 2px 5px #f8f8f8);
  -moz-filter: drop-shadow(2px 2px 5px #f8f8f8);
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}