<div>
  <h3 class="text-center"><strong>No data found</strong></h3>
  <br>
  <hr>
  <div class="well">
    <div class="row">
      <div class="col-xs-6">
        {{arcgis-map no_data=true}}
      </div>
      <div class="col-xs-6">
        <h3 class="no-marg-top">How to Contribute</h3>
        <hr>
        <dl>
          <dt>Services</dt>
          <dd>
            <ul>
              <li>GeoJSON</li>
              <li>WMS, WMTS, KML, GeoRSS</li>
              <li>Feature, Map, Image</li>
              <li>more ..</li>
            </ul>            
          </dd>
          <dt>Files</dt>
          <dd>
            <ul>
              <li>GeoJSON file (.geojson, .json)</li>
              <li>Comma-separated values (CSV) collection (.zip)</li>
              <li>Comma-separated values (CSV) file (.csv)</li>
              <li><a href="https://doc.arcgis.com/en/arcgis-online/share-maps/supported-items.htm" target="_blank">more..</a></li>
            </ul>
          </dd>
          <dt>Story Maps</dt>
          <dd><a href="http://storymaps.arcgis.com/en/" target="_blank">Engage and Inspire Your Audience</a></dd>
        </dl>

        <hr>
        
        {{login-button}}
        
      </div>
    </div>
  </div> 
</div>