<button class="btn {{btn_size}} btn-default" data-toggle="modal" data-target="#contributeModal">
  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> How can I Contribute?
</button>