<select id="country-selector" class="selectpicker" data-live-search="true">
  <optgroup label="Countries" value="countries">
    <option data-tokens="GLOBAL,Global Progress" value="GLOBAL"> Global Progress </option>
    <option data-tokens="AF,Afghanistan" value="AF"> Afghanistan </option>
    <option data-tokens="AL,Albania" value="AL"> Albania </option>
    <option data-tokens="DZ,Algeria" value="DZ"> Algeria </option>
    <option data-tokens="AD,Andorra" value="AD"> Andorra </option>
    <option data-tokens="AO,Angola" value="AO"> Angola </option>
    <option data-tokens="AG,Antigua and Barbuda" value="AG"> Antigua and Barbuda </option>
    <option data-tokens="AR,Argentina" value="AR"> Argentina </option>
    <option data-tokens="AM,Armenia" value="AM"> Armenia </option>
    <option data-tokens="AU,Australia" value="AU"> Australia </option>
    <option data-tokens="AT,Austria" value="AT"> Austria </option>
    <option data-tokens="AZ,Azerbaijan" value="AZ"> Azerbaijan </option>
    <option data-tokens="BS,Bahamas" value="BS"> Bahamas </option>
    <option data-tokens="BH,Bahrain" value="BH"> Bahrain </option>
    <option data-tokens="BD,Bangladesh" value="BD"> Bangladesh </option>
    <option data-tokens="BB,Barbados" value="BB"> Barbados </option>
    <option data-tokens="BY,Belarus" value="BY"> Belarus </option>
    <option data-tokens="BE,Belgium" value="BE"> Belgium </option>
    <option data-tokens="BZ,Belize" value="BZ"> Belize </option>
    <option data-tokens="BJ,Benin" value="BJ"> Benin </option>
    <option data-tokens="BT,Bhutan" value="BT"> Bhutan </option>
    <option data-tokens="BO,Bolivia (Plurinational State of)" value="BO"> Bolivia (Plurinational State of) </option>
    <option data-tokens="BA,Bosnia and Herzegovina" value="BA"> Bosnia and Herzegovina </option>
    <option data-tokens="BW,Botswana" value="BW"> Botswana </option>
    <option data-tokens="BR,Brazil" value="BR"> Brazil </option>
    <option data-tokens="BN,Brunei Darussalam" value="BN"> Brunei Darussalam </option>
    <option data-tokens="BG,Bulgaria" value="BG"> Bulgaria </option>
    <option data-tokens="BF,Burkina Faso" value="BF"> Burkina Faso </option>
    <option data-tokens="BI,Burundi" value="BI"> Burundi </option>
    <option data-tokens="CV,Cabo Verde" value="CV"> Cabo Verde </option>
    <option data-tokens="KH,Cambodia" value="KH"> Cambodia </option>
    <option data-tokens="CM,Cameroon" value="CM"> Cameroon </option>
    <option data-tokens="CA,Canada" value="CA"> Canada </option>
    <option data-tokens="CF,Central African Republic" value="CF"> Central African Republic </option>
    <option data-tokens="TD,Chad" value="TD"> Chad </option>
    <option data-tokens="CL,Chile" value="CL"> Chile </option>
    <option data-tokens="CN,China" value="CN"> China </option>
    <option data-tokens="CO,Colombia" value="CO"> Colombia </option>
    <option data-tokens="KM,Comoros" value="KM"> Comoros </option>
    <option data-tokens="CG,Congo" value="CG"> Congo </option>
    <option data-tokens="CR,Costa Rica" value="CR"> Costa Rica </option>
    <option data-tokens="CI,Côte D'Ivoire" value="CI"> Côte D'Ivoire </option>
    <option data-tokens="HR,Croatia" value="HR"> Croatia </option>
    <option data-tokens="CU,Cuba" value="CU"> Cuba </option>
    <option data-tokens="CY,Cyprus" value="CY"> Cyprus </option>
    <option data-tokens="CZ,Czech Republic" value="CZ"> Czech Republic </option>
    <option data-tokens="KP,Democratic People's Republic of Korea" value="KP"> Democratic People's Republic of Korea </option>
    <option data-tokens="CD,Democratic Republic of the Congo" value="CD"> Democratic Republic of the Congo </option>
    <option data-tokens="DK,Denmark" value="DK"> Denmark </option>
    <option data-tokens="DJ,Djibouti" value="DJ"> Djibouti </option>
    <option data-tokens="DM,Dominica" value="DM"> Dominica </option>
    <option data-tokens="DO,Dominican Republic" value="DO"> Dominican Republic </option>
    <option data-tokens="EC,Ecuador" value="EC"> Ecuador </option>
    <option data-tokens="EG,Egypt" value="EG"> Egypt </option>
    <option data-tokens="SV,El Salvador" value="SV"> El Salvador </option>
    <option data-tokens="GQ,Equatorial Guinea" value="GQ"> Equatorial Guinea </option>
    <option data-tokens="ER,Eritrea" value="ER"> Eritrea </option>
    <option data-tokens="EE,Estonia" value="EE"> Estonia </option>
    <option data-tokens="ET,Ethiopia" value="ET"> Ethiopia </option>
    <option data-tokens="FJ,Fiji" value="FJ"> Fiji </option>
    <option data-tokens="FI,Finland" value="FI"> Finland </option>
    <option data-tokens="FR,France" value="FR"> France </option>
    <option data-tokens="GA,Gabon" value="GA"> Gabon </option>
    <option data-tokens="GM,Gambia (The)" value="GM"> Gambia (The) </option>
    <option data-tokens="GE,Georgia" value="GE"> Georgia </option>
    <option data-tokens="DE,Germany" value="DE"> Germany </option>
    <option data-tokens="GH,Ghana" value="GH"> Ghana </option>
    <option data-tokens="GR,Greece" value="GR"> Greece </option>
    <option data-tokens="GD,Grenada" value="GD"> Grenada </option>
    <option data-tokens="GT,Guatemala" value="GT"> Guatemala </option>
    <option data-tokens="GN,Guinea" value="GN"> Guinea </option>
    <option data-tokens="GW,Guinea-Bissau" value="GW"> Guinea-Bissau </option>
    <option data-tokens="GY,Guyana" value="GY"> Guyana </option>
    <option data-tokens="HT,Haiti" value="HT"> Haiti </option>
    <option data-tokens="HN,Honduras" value="HN"> Honduras </option>
    <option data-tokens="HU,Hungary" value="HU"> Hungary </option>
    <option data-tokens="IS,Iceland" value="IS"> Iceland </option>
    <option data-tokens="IN,India" value="IN"> India </option>
    <option data-tokens="ID,Indonesia" value="ID"> Indonesia </option>
    <option data-tokens="IR,Iran (Islamic Republic of)" value="IR"> Iran (Islamic Republic of) </option>
    <option data-tokens="IQ,Iraq" value="IQ"> Iraq </option>
    <option data-tokens="IE,Ireland" value="IE"> Ireland </option>
    <option data-tokens="IL,Israel" value="IL"> Israel </option>
    <option data-tokens="IT,Italy" value="IT"> Italy </option>
    <option data-tokens="JM,Jamaica" value="JM"> Jamaica </option>
    <option data-tokens="JP,Japan" value="JP"> Japan </option>
    <option data-tokens="JO,Jordan" value="JO"> Jordan </option>
    <option data-tokens="KZ,Kazakhstan" value="KZ"> Kazakhstan </option>
    <option data-tokens="KE,Kenya" value="KE"> Kenya </option>
    <option data-tokens="KI,Kiribati" value="KI"> Kiribati </option>
    <option data-tokens="KW,Kuwait" value="KW"> Kuwait </option>
    <option data-tokens="KG,Kyrgyzstan" value="KG"> Kyrgyzstan </option>
    <option data-tokens="LA,Lao People's Democratic Republic" value="LA"> Lao People's Democratic Republic </option>
    <option data-tokens="LV,Latvia" value="LV"> Latvia </option>
    <option data-tokens="LB,Lebanon" value="LB"> Lebanon </option>
    <option data-tokens="LS,Lesotho" value="LS"> Lesotho </option>
    <option data-tokens="LR,Liberia" value="LR"> Liberia </option>
    <option data-tokens="LY,Libya" value="LY"> Libya </option>
    <option data-tokens="LI,Liechtenstein" value="LI"> Liechtenstein </option>
    <option data-tokens="LT,Lithuania" value="LT"> Lithuania </option>
    <option data-tokens="LU,Luxembourg" value="LU"> Luxembourg </option>
    <option data-tokens="MG,Madagascar" value="MG"> Madagascar </option>
    <option data-tokens="MW,Malawi" value="MW"> Malawi </option>
    <option data-tokens="MY,Malaysia" value="MY"> Malaysia </option>
    <option data-tokens="MV,Maldives" value="MV"> Maldives </option>
    <option data-tokens="ML,Mali" value="ML"> Mali </option>
    <option data-tokens="MT,Malta" value="MT"> Malta </option>
    <option data-tokens="MH,Marshall Islands" value="MH"> Marshall Islands </option>
    <option data-tokens="MR,Mauritania" value="MR"> Mauritania </option>
    <option data-tokens="MU,Mauritius" value="MU"> Mauritius </option>
    <option data-tokens="MX,Mexico" value="MX"> Mexico </option>
    <option data-tokens="FM,Micronesia (Federated States of)" value="FM"> Micronesia (Federated States of)</option>
    <option data-tokens="MC,Monaco" value="MC"> Monaco </option>
    <option data-tokens="MN,Mongolia" value="MN"> Mongolia </option>
    <option data-tokens="ME,Montenegro" value="ME"> Montenegro </option>
    <option data-tokens="MA,Morocco" value="MA"> Morocco </option>
    <option data-tokens="MZ,Mozambique" value="MZ"> Mozambique </option>
    <option data-tokens="MM,Myanmar" value="MM"> Myanmar </option>
    <option data-tokens="NA,Namibia" value="NA"> Namibia </option>
    <option data-tokens="NR,Nauru" value="NR"> Nauru </option>
    <option data-tokens="NP,Nepal" value="NP"> Nepal </option>
    <option data-tokens="NL,Netherlands" value="NL"> Netherlands </option>
    <option data-tokens="NZ,New Zealand" value="NZ"> New Zealand </option>
    <option data-tokens="NI,Nicaragua" value="NI"> Nicaragua </option>
    <option data-tokens="NE,Niger" value="NE"> Niger </option>
    <option data-tokens="NG,Nigeria" value="NG"> Nigeria </option>
    <option data-tokens="NO,Norway" value="NO"> Norway </option>
    <option data-tokens="OM,Oman" value="OM"> Oman </option>
    <option data-tokens="PK,Pakistan" value="PK"> Pakistan </option>
    <option data-tokens="PW,Palau" value="PW"> Palau </option>
    <option data-tokens="PA,Panama" value="PA"> Panama </option>
    <option data-tokens="PG,Papua New Guinea" value="PG"> Papua New Guinea </option>
    <option data-tokens="PY,Paraguay" value="PY"> Paraguay </option>
    <option data-tokens="PE,Peru" value="PE"> Peru </option>
    <option data-tokens="PH,Philippines" value="PH"> Philippines </option>
    <option data-tokens="PL,Poland" value="PL"> Poland </option>
    <option data-tokens="PT,Portugal" value="PT"> Portugal </option>
    <option data-tokens="QA,Qatar" value="QA"> Qatar </option>
    <option data-tokens="KR,Republic of Korea" value="KR"> Republic of Korea </option>
    <option data-tokens="MD,Republic of Moldova" value="MD"> Republic of Moldova </option>
    <option data-tokens="RO,Romania" value="RO"> Romania </option>
    <option data-tokens="RU,Russian Federation" value="RU"> Russian Federation </option>
    <option data-tokens="RW,Rwanda" value="RW"> Rwanda </option>
    <option data-tokens="KN,Saint Kitts and Nevis" value="KN"> Saint Kitts and Nevis </option>
    <option data-tokens="LC,Saint Lucia" value="LC"> Saint Lucia </option>
    <option data-tokens="VC,Saint Vincent and the Grenadines" value="VC"> Saint Vincent and the Grenadines </option>
    <option data-tokens="WS,Samoa" value="WS"> Samoa </option>
    <option data-tokens="SM,San Marino" value="SM"> San Marino </option>
    <option data-tokens="ST,Sao Tome and Principe" value="ST"> Sao Tome and Principe </option>
    <option data-tokens="SA,Saudi Arabia" value="SA"> Saudi Arabia </option>
    <option data-tokens="SN,Senegal" value="SN"> Senegal </option>
    <option data-tokens="RS,Serbia" value="RS"> Serbia </option>
    <option data-tokens="SC,Seychelles" value="SC"> Seychelles </option>
    <option data-tokens="SL,Sierra Leone" value="SL"> Sierra Leone </option>
    <option data-tokens="SG,Singapore" value="SG"> Singapore </option>
    <option data-tokens="SK,Slovakia" value="SK"> Slovakia </option>
    <option data-tokens="SI,Slovenia" value="SI"> Slovenia </option>
    <option data-tokens="SB,Solomon Islands" value="SB"> Solomon Islands </option>
    <option data-tokens="SO,Somalia" value="SO"> Somalia </option>
    <option data-tokens="ZA,South Africa" value="ZA"> South Africa </option>
    <option data-tokens="SS,South Sudan" value="SS"> South Sudan </option>
    <option data-tokens="ES,Spain" value="ES"> Spain </option>
    <option data-tokens="LK,Sri Lanka" value="LK"> Sri Lanka </option>
    <option data-tokens="SD,Sudan" value="SD"> Sudan </option>
    <option data-tokens="SR,Suriname" value="SR"> Suriname </option>
    <option data-tokens="SZ,Swaziland" value="SZ"> Swaziland </option>
    <option data-tokens="SE,Sweden" value="SE"> Sweden </option>
    <option data-tokens="CH,Switzerland" value="CH"> Switzerland </option>
    <option data-tokens="SY,Syrian Arab Republic" value="SY"> Syrian Arab Republic </option>
    <option data-tokens="TJ,Tajikistan" value="TJ"> Tajikistan </option>
    <option data-tokens="TH,Thailand" value="TH"> Thailand </option>
    <option data-tokens="MK,The former Yugoslav Republic of Macedonia" value="MK"> The former Yugoslav Republic of Macedonia </option>
    <option data-tokens="TL,Timor-Leste" value="TL"> Timor-Leste </option>
    <option data-tokens="TG,Togo" value="TG"> Togo </option>
    <option data-tokens="TO,Tonga" value="TO"> Tonga </option>
    <option data-tokens="TT,Trinidad and Tobago" value="TT"> Trinidad and Tobago </option>
    <option data-tokens="TN,Tunisia" value="TN"> Tunisia </option>
    <option data-tokens="TR,Turkey" value="TR"> Turkey </option>
    <option data-tokens="TM,Turkmenistan" value="TM"> Turkmenistan </option>
    <option data-tokens="TV,Tuvalu" value="TV"> Tuvalu </option>
    <option data-tokens="UG,Uganda" value="UG"> Uganda </option>
    <option data-tokens="UA,Ukraine" value="UA"> Ukraine </option>
    <option data-tokens="AE,United Arab Emirates" value="AE"> United Arab Emirates </option>
    <option data-tokens="GB,United Kingdom of Great Britain and Northern Ireland" value="GB"> United Kingdom of Great Britain and Northern Ireland </option>
    <option data-tokens="TZ,United Republic of Tanzania" value="TZ"> United Republic of Tanzania </option>
    <option data-tokens="US,United States of America" value="US"> United States of America </option>
    <option data-tokens="UY,Uruguay" value="UY"> Uruguay </option>
    <option data-tokens="UZ,Uzbekistan" value="UZ"> Uzbekistan </option>
    <option data-tokens="VU,Vanuatu" value="VU"> Vanuatu </option>
    <option data-tokens="VE,Venezuela (Bolivarian Republic of)" value="VE"> Venezuela (Bolivarian Republic of)</option>
    <option data-tokens="VN,Viet Nam" value="VN"> Viet Nam </option>
    <option data-tokens="YE,Yemen" value="YE"> Yemen </option>
    <option data-tokens="ZM,Zambia" value="ZM"> Zambia </option>
    <option data-tokens="ZW,Zimbabwe" value="ZW"> Zimbabwe </option>
</optgroup>
<optgroup label="Cities" value="cities">
    <option data-tokens="Global Progress" value="GLOBAL_CITIES"> Global Progress </option>
    <option data-tokens="Bogota" value="BOGOTA">Bogota</option>
</optgroup>
</select>