<!-- {{ partial "-header" }} -->

<div class="container-fluid master no-padding">
  {{liquid-outlet class="bg-gray"}}
</div>

<div id="targets-modal-destination"></div>
<div id="contribute-modal-destination"></div>
<div id="about-modal-destination"></div>

<!-- {{ partial "-footer" }} -->