.geo-header {
  padding: 3px 0;
  margin: 0 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  color: #4c4c4c;
  font-weight: 500;
}

.twitter-typeahead {
  .tt-input {
    width: 230px;
  }
  .tt-menu {
    width: 100%;
    background-color: white;
    top: 44px !important;
    margin: 2px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    overflow-x: hidden;
  }
  .tt-suggestion {
    display: block !important;
    line-height: 3rem;
    /*height: 3rem;*/
    padding: 0 10px;
    cursor: pointer;
    color: #4c4c4c;
    strong {
      color:black;
    }
    &.tt-cursor, &:hover {
      background-color: #efefef;
    }
  }
}