<div id="sdg-dash" class="container marg-bottom-50">
  <div class="row">
    <div class="collage">
      {{#each model as |goal|}}
        <img {{action 'loadSDG' goal}} src="images/sdg/TGG_Icon_Color_{{goal.displayNumber}}.png" height="150" width="150" >
      {{/each}}
     <a href="http://story.maps.arcgis.com/apps/MapJournal/?appid=320279caa7f549678ba428f24a9f12ec" style="opacity:1 !important" target="_blank">
        <img class="img-sm" src="images/sdg/sdg-storymap-thumb.png" height="150" width="150">
     </a>
    </div>
  </div>
</div>