<div class="navbar navbar-default navbar-top sit-on-top" role="navigation">
  <div class="container top-header">
    <div class="navbar-header">
      {{# link-to 'sdg-overview' class='navbar-brand' }}
        <img class="brand-logo img-dp-shadow" src='images/landing/sdg-logo-only.png'>
      {{/ link-to }}
      <div class='navbar-brand'>
        <h6>{{ t 'application.title' }}</h6>
      </div>
    </div>      
    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right pad-top-10'>
        {{ partial '-header-nav-right' }}
      </ul>
    </div>
  </div>
</div>