<ul class="nav nav-tabs nav-justified">
  {{#link-to "sdg.status" this tagName="li"}}
    <a href="{{view.href}}">Goal Progress</a>
  {{/link-to}}
  {{#link-to "sdg.targets-indicators" this tagName="li"}}
    <a href="{{view.href}}">Targets &amp; Indicators</a>
  {{/link-to}}
</ul>